@media(min-width: 768px) {
        .news-input{
        width:50%;
    }
}

@media(min-width:330px) {
    .image-one{
        width:90%
      }
}

.image-fluid{
    width:100%;
}

.img-cen{
    display:flex;
    justify-content: center;
}

.image-jappan{
    width: 50%;
}